*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    
    
}

section{
    margin: 1rem;
   
    width: 100%;
}

.form{
    width: 30%;
    
}

.w50{
    padding: 10px 15px;
    outline: none;
    border-radius: 5px;
    border-color: #ccc;
    font-size: 18px;
}

.cta{
    background-color: red;
    border: none;
}
.cta:hover{
    background-color: #000;
    color: #fff;
}

.form-control{
    display: flex;
    flex-direction: column;
}